.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #ffffff;
  color: red;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-button:hover {
  background-color: #6c6c6c;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  color: black;
}

.dropdown-item:hover {
  background-color: #f1f1f1; /* Light gray */
}
